@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

.profile-songs-col {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.75rem;
    width: 70%;
    flex: 1;
    height: auto;
    justify-content: center;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
    color: #ABA8A7;
    font-size: 1.1rem;
    width: 100%;

};

.pagination-button-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination-button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #B51811;
    text-underline-offset: 0.25rem;
    color: #dddddd;
}

.pagination-button.active {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #B51811;
    text-underline-offset: 0.25rem;
    color: #dddddd;
  }

.numbered-pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-songs-col-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem; 
    color: #ABA8A7;
    font-size: 1.1rem;
}

.profile-songs-col-items-per-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: -1.5rem;
    color: #ABA8A7;
    font-size: 1.1rem;
    width: 30%;
}

.profile-songs-col-items-per-page-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ABA8A7; 
    background-color: #2e2e2e; 
    color: #ABA8A7; 
    width: 30%; 
    padding: 0.3rem; 
}

.toggle-auto-generation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0.5rem;
    background-color: #B51811;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-auto-generation-button:hover {
    background-color: #D32F2F;
  }
  
  .toggle-auto-generation-button:active {
    background-color: #B51811;
  }
  
