@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

.profile-songs-col {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.75rem;
    width: 100%;
    flex: 1;
    height: auto;
    justify-content: center;
}

.profile-songs-col-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 1rem;
}

.toggle-auto-generation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0.5rem;
    background-color: #B51811;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-auto-generation-button:hover {
    background-color: #D32F2F;
  }
  
  .toggle-auto-generation-button:active {
    background-color: #B51811;
  }
 
  .profile-songs-col-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 700px;
    padding-top: 0.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .profile-songs-col-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
