@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

/* CSS Variables */
:root {
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --body-background-color: #252728;

  /* Site Header */
  --site-header-height: clamp(3.5rem, 9vh, 5rem);
  --site-header-background-color: #191919;
  --site-header-font-color: #ABA8A7;
  --site-header-gap-user-action-elements: clamp(0.9rem, 1.5vw, 1.5rem);
  --site-header-gap-header-sides: clamp(0.25rem, 1.5vw, 2rem);
    /* Site Header Logo */
    --site-header-logo-font-size: clamp(1.75rem, 3.3vh, 2rem);
    --site-header-logo-dosq-part-font-color: #B51811;
    --site-header-logo-fm-part-font-color: #FFFFFF;
    /* Site Header Nav */
    --site-header-nav-font-size: clamp(1.25rem, 2.5vh, 2rem);
    /* Site Header Profile */
    --site-header-profile-icon-size: clamp(2.5rem, 6vh, 2.5rem);

  /* Site Footer */
  --site-footer-height: clamp(3.5rem, 9vh, 5rem);
  --site-footer-background-color: #303030;
  --site-footer-font-color: #ABA8A7;
  --site-footer-font-size: clamp(0.8rem, 2vh, 1.5rem);
  --site-footer-items-gap: clamp(0.25rem, 1.5vw, 2rem);

  /* Page - Under Construction*/
  --page-under-construction-content-height: clamp(50vh, 90vh, 100vh);
  --page-under-construction-content-font-size: clamp(1rem, 3vh, 2rem);
  --page-under-construction-background-color: #252728;
  --page-under-construction-font-color: #ABA8A7;
  --page-under-construction-image-size: clamp(10rem, 20vw, 20rem);
}

/* Global Styles */
body {
  font-family: var(--font-sans);
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* Header Styles */
.site-header {
  display: flex;
  width: 100%;
  height: var(--site-header-height);
  justify-content: space-between;
  align-items: center;
  background-color: var(--site-header-background-color);
  padding: 0 var(--site-header-gap-header-sides);
}

/* Header Content Styles */
.site-header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Logo Styles */
.site-header-logo {
  font-size: var(--site-header-logo-font-size);
}

.site-header-logo-dosq-part {
  color: var(--site-header-logo-dosq-part-font-color);
  font-weight: 600;
}

.site-header-logo-fm-part {
  color: var(--site-header-logo-fm-part-font-color);
  font-weight: 100;
}

/* Header User Actions Styles */
.site-header-user-actions {
  display: flex;
  align-items: center;
  gap: var(--site-header-gap-user-action-elements);
}

/* Header Nav Styles */
.site-header-nav {
  display: flex;
  gap: var(--site-header-gap-user-action-elements);
  font-size: var(--site-header-nav-font-size);
  color: #FFFFFF;
}

/* Header Profile Styles */
.site-header-profile {
  display: flex;
  align-items: center;
}

.site-header-profile img {
  width: var(--site-header-profile-icon-size);
  height: var(--site-header-profile-icon-size);
  border-radius: 50%;
}





/* Footer Styles */
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--site-footer-height);
  background-color: var(--site-footer-background-color);
  color: var(--site-footer-font-color);
  font-size: var(--site-footer-font-size);
}

.site-footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer-links {
  display: flex;
  gap: var(--site-footer-items-gap);
  margin-right: var(--site-footer-items-gap);
}

.site-footer-social-media {
  display: flex;
  gap: var(--site-footer-items-gap);
}





/* Construction Page Content Styles */
.construction-site-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--page-under-construction-content-height);
  background-color: var(--page-under-construction-background-color);
  color: var(--page-under-construction-font-color);
  font-size: var(--page-under-construction-content-font-size);
  padding: 2rem; /* Add padding */
}

.construction-site-image {
  margin-right: 2rem; /* Add margin to the right of the image */
}

.construction-site-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.construction-page-link {
  color: #ABA8A7;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.construction-page-link:hover {
  text-decoration: none; /* Remove underline on hover */
}









/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .site-header {
    height: auto;
    padding: var(--site-header-gap-header-sides);
  }

  .site-header-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .site-header-logo {
    margin-right: var(--site-header-gap-user-action-elements);
  }

  .site-header-user-actions {
    width: auto;
    justify-content: center;
  }

  .site-header-nav {
    gap: var(--site-header-gap-user-action-elements);
    justify-content: center;
  }
}