@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

/* CSS Variables */
:root {
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --body-background-color: #252728;

  /* Site Header */
  --site-header-height: clamp(3.5rem, 9vh, 5rem);
  --site-header-background-color: #191919;
  --site-header-font-color: #ABA8A7;
  --site-header-gap-user-action-elements: clamp(0.9rem, 1.5vw, 1.5rem);
  --site-header-gap-header-sides: clamp(0.25rem, 1.5vw, 2rem);
    /* Site Header Logo */
    --site-header-logo-font-size: clamp(1.75rem, 3.3vh, 2rem);
    --site-header-logo-dosq-part-font-color: #B51811;
    --site-header-logo-fm-part-font-color: #FFFFFF;
    /* Site Header Nav */
    --site-header-nav-font-size: clamp(1.25rem, 2.5vh, 2rem);
    /* Site Header Profile */
    --site-header-profile-icon-size: clamp(2.5rem, 6vh, 2.5rem);

  /* Site Footer */
  --site-footer-height: clamp(3.5rem, 9vh, 5rem);
  --site-footer-background-color: #303030;
  --site-footer-font-color: #ABA8A7;
  --site-footer-font-size: clamp(0.8rem, 2vh, 1.5rem);
  --site-footer-items-gap: clamp(0.25rem, 1.5vw, 2rem);

  /* Page - Under Construction*/
  --page-under-construction-content-height: clamp(50vh, 90vh, 100vh);
  --page-under-construction-content-font-size: clamp(1rem, 3vh, 2rem);
  --page-under-construction-background-color: #252728;
  --page-under-construction-font-color: #ABA8A7;
  --page-under-construction-image-size: clamp(10rem, 20vw, 20rem);
}

/* Global Styles */
body {
  font-family: var(--font-sans);
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin: 0 auto;
  padding: 0 1rem;
}





/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .site-header {
    height: auto;
    padding: var(--site-header-gap-header-sides);
  }

  .site-header-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .site-header-logo {
    margin-right: var(--site-header-gap-user-action-elements);
  }

  .site-header-user-actions {
    width: auto;
    justify-content: center;
  }

  .site-header-nav {
    gap: var(--site-header-gap-user-action-elements);
    justify-content: center;
  }
}