@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

/* CSS Variables */
:root {
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --body-background-color: #252728;

  /* Site Header */
  --site-header-height: clamp(3.5rem, 9vh, 5rem);
  --site-header-background-color: #191919;
  --site-header-font-color: #ABA8A7;
  --site-header-gap-user-action-elements: clamp(0.9rem, 1.5vw, 1.5rem);
  --site-header-gap-header-sides: clamp(0.25rem, 1.5vw, 2rem);
    /* Site Header Logo */
    --site-header-logo-font-size: clamp(1.75rem, 3.3vh, 2rem);
    --site-header-logo-dosq-part-font-color: #B51811;
    --site-header-logo-fm-part-font-color: #FFFFFF;
    /* Site Header Nav */
    --site-header-nav-font-size: clamp(1.25rem, 2.5vh, 2rem);
    /* Site Header Profile */
    --site-header-profile-icon-size: clamp(2.5rem, 6vh, 2.5rem);

  /* Site Footer */
  --site-footer-height: clamp(3.5rem, 9vh, 5rem);
  --site-footer-background-color: #303030;
  --site-footer-font-color: #ABA8A7;
  --site-footer-font-size: clamp(0.8rem, 2vh, 1.5rem);
  --site-footer-items-gap: clamp(0.25rem, 1.5vw, 2rem);
}

/* Global Styles */
body, html {
  font-family: var(--font-sans);
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin: 0 auto;
}