@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

.profile-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 75%;
    margin-bottom: 3rem;
    height: 100%;
}

.profile-content-title {
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    justify-content: left;
    margin-top: 0.5rem;
    color: #ABA8A7;
}

.profile-content-grid {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3rem;
    height: 100%;
    gap: 0.5rem;
}